---

---

@import "normalize";

$main-color: #adadad;
$hover-color: #525252;
$header-bg: rgba(255,255,255,0.99);
$btn-bg: #2fdab8;
$btn-bg-hv: #39ac95;

html {
    background: #f2f2f2;
    &* {
        box-sizing: border-box;
    }
}

body{
    padding-top: 78px;
    font: normal 100%/1.4 "Roboto", san-serif;
    color: $main-color;
}

.container {
    max-width: 1280px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1,h2,h3,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $main-color;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $hover-color;
    }

}

.main-header {
    background-color: $header-bg;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    height: 68px;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 2000;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .main-header-logo {
        display: flex;
        align-items: center;
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        span {
            padding-left: 15px;
            font-size: 20px;
        }
    }
}

.site-jumbotron {
    padding: 20px 0;
}
.site-jumbotron-bg {
    position: relative;
    padding: 88px 0;
    text-align: center;
    background: url(../images/main-bg.jpg) no-repeat center;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.65);
        z-index: 100;
    }
    h1 {
        position: relative;
        font-size: 43px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        color: #fff;
        z-index: 200;
    }
}

.main-nav {
    padding: 10px 0 20px 0;
    ul {
        display: flex;
    }
    li {
        padding: 0 10px;
    }
    a {
        display: block;
        font-weight: 300;
        font-size: 18px;
        &.active {
            color: $hover-color;
        }
    }
}

.main-footer {
    background: #fff;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
}

.grid-ct {
    display: grid;
    padding: 10px 0 20px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.grid-item {
    min-height: 400px;
    background: #fff;
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 22px 43px rgba(0,0,0,0.15);
    }
    img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    &:hover {
        .price-btn {
            background: $btn-bg-hv;
            transform: translate(0, 0);
            &:after {
                opacity: 1;
            }
        }
    }
}
.grid-item-header {
    display: flex;
    height: 48px;
}
.price-btn {
    position: relative;
    margin-left: auto;
    height: 48px;
    padding: 0 45px 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: $btn-bg;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all 0.3s ease;
    transform: translate(20px, 0);
    &::after {
        content: "";
        position: absolute;
        right: 18px;
        width: 20px;
        height: 20px;
        opacity: 0;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpCQzY5ODkyRUFBMkQxMUUyOUQyRUNEOTgzRkQ4NzJEQSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpCQzY5ODkyRkFBMkQxMUUyOUQyRUNEOTgzRkQ4NzJEQSI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkJDNjk4OTJDQUEyRDExRTI5RDJFQ0Q5ODNGRDg3MkRBIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkJDNjk4OTJEQUEyRDExRTI5RDJFQ0Q5ODNGRDg3MkRBIi8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2B6IuXgAAAAFlJREFUeNpi%2FP%2F%2FPwMlgImB1gDoQn4g3gLEuuRqPvkfAl6TbAhQQ9Z%2FVECWIR00NYTxP%2Fnx%2BAaInSgxAAQuUOoCa9oHJKWaKUsHFKdEYvIC44BnZ4oNAAgwAM4Y07Paya60AAAAAElFTkSuQmCC);
        background-position: center;
        background-repeat: no-repeat;
        transform: translateZ(0);
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
}
.grid-item-footer {
    font-size: 14px;
    padding: 20px;
}