{% for item in include.datastore %}
<div class="grid-item" id="grid-item-{{item.id}}" data-izimodal-open="#modal">
    <div class="grid-item-header">
        <button class="price-btn">{{ item.price }} UAH</button>
    </div>
    <div class="grid-item-body">
        <img src="{{site.baseurl}}{{ item.image }}" alt="test image">
        <h3>{{ item.title }}</h3>            
    </div>
    <div class="grid-item-footer">
        <p class="box-weight">
            <span>{{ item.weight }} мл</span>
        </p>
    </div>
</div>
<div class="item-content">
    <div class="modal-content">
        <div class="modal-content-info">
            <div class="modal-left">
                <img src="{{site.baseurl}}{{ item.image }}" alt="test image">
            </div>
            <div class="modal-right">
                <p>{{ item.title }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}