{% for item in include.datastore %}
<div class="grid-item" id="grid-item-{{item.id}}" data-izimodal-open="#modal">
    <div class="grid-item-header">
        <button class="price-btn">{{ item.price }} UAH</button>
    </div>
    <div class="grid-item-body">
        <img src="{{site.baseurl}}{{ item.image }}" alt="{{ item.title }} HELPIX">
        <h3>{{ item.title }}</h3>            
    </div>
    <div class="grid-item-footer">
        <p class="box-weight">
            <span>{{ item.weight }} мл</span>
        </p>
    </div>
</div>
<div class="item-content">
    <div class="modal-content">
        <div class="modal-content-info">
            <div class="modal-left">
                <img src="{{site.baseurl}}{{ item.image }}" alt="{{ item.title }} HELPIX">
            </div>
            <div class="modal-right">
                <h3 class="item-title">{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <p class="item-sub-title">Состав:</p>
                <p>{{ item.composition }}</p>
                <p class="item-sub-title">Применение:</p>
                <p>{{ item.uses }}</p>
                <p class="item-sub-title">Упаковка:</p>
                <p>{{ item.weight }} мл</p>

                <div class="btn-container">
                    <button class="make-order">Оформить заказ</button>
                </div>
            </div>
        </div>
        <div class="main-form">
            <form action="" >
                <div class="form-group">
                    <label>
                        <span>Имя</span>
                        <input type="text" name="name">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span>Телефон</span>
                        <input  type="text" name="phone">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span>Email</span>
                        <input  type="text" name="email">
                    </label>
                </div>
                <input type="hidden" name="_subject" value="Новый заказ">
                <input type="hidden" name="subject" value="Новый заказ">
                <input type="hidden" name="weight" value="{{ item.weight }} мл">
                <input type="hidden" name="product" value="{{ item.title }}">
                <div class="btn-container">
                    <a id="cancel-order" href="#">Отмена</a>
                    <button class="submit-btn">Заказать</button>
                </div>
            </form>
            <div class="after-form">
                <div class="after-form-ct">
                    <img src="{{ site.baseurl }}/images/site/happy.svg" alt="happy smile">
                    <p class="thanks-text">Спасибо за заказ!</p>
                    <p>Наш менеджер свяжется с вами уточнить информацию.</p>
                    <div class="btn-container">
                        <button class="btn-ok">ок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}