<div class="container">
    <nav class="main-nav">
        <ul>
            <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}active{% endif %}">Освежители</a></li>
            <li><a href="{{site.baseurl}}/products/polishes/polish-100/" class="{% if page.url contains 'polishe' %}active{% endif %}">Полироль</a></li>
            <li><a href="{{site.baseurl}}/products/cleaning" class="{% if page.url contains 'cleaning' %}active{% endif %}">Средства для очистки</a></li>
            <li><a href="{{site.baseurl}}/products/automotive_grease" class="{% if page.url contains 'automotive' %}active{% endif %}">Автосмазки</a></li>
        </ul>
    </nav>
</div>

