@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600&amp;subset=latin,cyrillic);

html {
    background: #f2f2f2;
    &* {
        box-sizing: border-box;
    }
}

body{
    padding-top: 78px;
    font: normal 100%/1.4 "Open Sans", san-serif;
    color: $main-color;
}

.container {
    max-width: 1280px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1,h2,h3,p {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $main-color;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: $hover-color;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ebebeb;
  -webkit-text-fill-color: #525252;
  -webkit-box-shadow: 0 0 0px 1000px #ebebeb inset;
  transition: background-color 5000s ease-in-out 0s;
}
