.main-header {
    background-color: $header-bg;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    height: 68px;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 2000;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .main-header-logo {
        display: flex;
        align-items: center;
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        span {
            padding-left: 15px;
            font-size: 20px;
        }
    }
}