.site-jumbotron {
    padding: 20px 0;
}
.site-jumbotron-bg {
    position: relative;
    padding: 88px 0;
    text-align: center;
    background: url(../images/site/main-bg.jpg) no-repeat center;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.65);
        z-index: 100;
    }
    h1 {
        position: relative;
        font-size: 43px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        color: #fff;
        z-index: 200;
    }
}