---
layout: product-detail
title: Средство для розжига мангалов и каминов - твердое
meta:  Средство для розжига, влагостойкое, безопасное
---

<div class="modal-content-info">
    <div class="modal-left">
        <img src="{{site.baseurl}}{{ site.data.other[4].image }}" alt="{{ site.data.other[4].title }} HELPIX">
    </div>
    <div class="modal-right">
        <h4 class="item-title">{{ site.data.other[4].title }}</h4>
        <p>{{ site.data.other[4].description }}</p>
        {% if site.data.other[4].composition != "" %}
        <p class="item-sub-title">Состав:</p>
        <p>{{ site.data.other[4].composition }}</p>
        {% endif %}  
        <p class="item-sub-title">Применение:</p>
        <p>{{ site.data.other[4].uses }}</p>
        <p class="item-sub-title">Упаковка:</p>
        <p>{{ site.data.other[4].weight }} мл</p>
        <p class="item-sub-title">Цена:</p>
        <p>{{ site.data.other[4].price }} грн</p>
        <div class="btn-container">
            <button class="make-order"  data-izimodal-open="#modal">Оформить заказ</button>
        </div>
    </div>
</div>

{% include order-modal.html item= site.data.other item-number= 4 %}